$snackbar-magin-top: 100px !important;

/* success */
.snackbar-success {
    --mdc-snackbar-container-color: var(--color-success) !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
    margin-top: $snackbar-magin-top;
}

.snackbar-success button {
    background-color: var(--color-success);
    color: white !important;
    border: none;
}

/* danger */
.snackbar-danger {
    --mdc-snackbar-container-color: var(--color-danger) !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
    margin-top: $snackbar-magin-top;
}

.snackbar-danger button {
    background-color: var(--color-danger);
    color: white !important;
    border: none;
}

/* info */
.snackbar-info {
    --mdc-snackbar-container-color: var(--color-info) !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
    margin-top: $snackbar-magin-top;
}

.snackbar-info button {
    background-color: var(--color-info);
    color: white !important;
    border: none;
}

/* warning */
.snackbar-warning {
    --mdc-snackbar-container-color: var(--color-warning) !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
    margin-top: $snackbar-magin-top;
}

.snackbar-warning button {
    background-color: var(--color-warning);
    color: white !important;
    border: none;
}