<form class="form-signin" [formGroup]="form">
    <div class="form-group">
        <mat-form-field class="form-full-width" appearance="outline">
            <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher" placeholder="Input some text...">
            @if (f['username'].hasError('required')) {
              <mat-error>Username is <strong>required</strong></mat-error>
            }
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="form-full-width" appearance="outline">
            <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="Input some text...">
            @if (f['password'].hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Sign in</button>
    </div>
</form>