$content-color: var(--color-content-wraper);

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $content-color;
    border-radius: 24px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-full-width {
    width: 100%;
}