<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <p class="m-0 sub-title-text">Sub menu 2</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <mat-card class="p-2">
        <div class="container-fluid">
          <mat-card-content>
            <span class="label-text">Sub menu 2 is working!</span>
          </mat-card-content>
        </div>
      </mat-card>
    </section>
</div>